<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>boekuwzending</name>
    <displayName><![CDATA[Boekuwzending.com]]></displayName>
    <version><![CDATA[1.0.2]]></version>
    <description><![CDATA[Quickly integrate the activated shipping methods within your Boekuwzending.com account with PrestaShop.]]></description>
    <author><![CDATA[Boekuwzending.com]]></author>
    <tab><![CDATA[shipping_logistics]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>